version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            uv venv --python 3.9 ~/.virtualenvs/tap-fullstory
            source ~/.virtualenvs/tap-fullstory/bin/activate
            uv pip install .
            uv pip install pylint
      - run:
          name: 'Pylint'
          command: |
            source ~/.virtualenvs/tap-fullstory/bin/activate
            pylint tap_fullstory --disable missing-docstring,logging-format-interpolation,too-many-locals,too-many-arguments,consider-using-f-string,broad-exception-raised,use-yield-from

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context:
            - circleci-user
