version: 2
jobs:
  build:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            virtualenv -p python3 ~/.virtualenvs/tap-fullstory
            source ~/.virtualenvs/tap-fullstory/bin/activate
            pip install .
            pip install pylint
      - run:
          name: 'Pylint'
          command: |
            source ~/.virtualenvs/tap-fullstory/bin/activate
            pylint tap_fullstory --disable missing-docstring,logging-format-interpolation,too-many-locals,too-many-arguments
