version: 2.1
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: "Setup virtual env"
          command: |
            uv venv --python 3.12 /usr/local/share/virtualenvs/tap-fullstory
            source /usr/local/share/virtualenvs/tap-fullstory/bin/activate
            uv pip install -U setuptools
            uv pip install .[dev]
      - run:
          name: "pylint"
          command: |
            source /usr/local/share/virtualenvs/tap-fullstory/bin/activate
            uv pip install pylint
            pylint tap_fullstory -d C,R,W
      - add_ssh_keys
      - run:
          name: "Unit Tests"
          command: |
            source /usr/local/share/virtualenvs/tap-fullstory/bin/activate
            uv pip install pytest coverage
            coverage run -m pytest tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - run:
          name: "Integration Tests"
          command: |
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            uv pip install --upgrade awscli
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            unset USE_STITCH_BACKEND
            run-test --tap=tap-fullstory tests


workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
